<% content_for :title, "New event" %>

<div class="card text-center">

  <div class="card-header">
    <h2>Creat an event  :</h2>
  </div>
  <div class="card-body">
    <h4 class="card-title"> Please fill the form below</strong></h4>

    <%= render 'forms' %>
  </div>

</div><br><br>